.image-card__wrapper {
    display: flex;
    flex-direction: column;
}

.image-card__image {
    width: 500px;
    height: 300px;
}

figcaption {
    color: beige;
}

span.image-card__icon {
    padding: 5px;
    cursor: pointer;
}

.image-card__icon span{
    margin-left: 5px;
    color: white;
}

.image-card__status {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

button {
    height: 45px;
    width: 45px;
}
